*{
box-sizing:border-box;
padding:0;
margin:0;
color:#444;
}

p{
    background-color:#eee;
    padding:20px;
    font-family:arial;
    word-spacing:2px;
    letter-spacing:1px;
    line-height:150%;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    width:auto;
}

h1{
    background-color:#eee;
    padding:10px;
    font-family:arial;
    word-spacing:2px;
    letter-spacing:1px;
    line-height:150%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    width:auto;
}

@media screen and(min-width:800px){
    p,h1{
        width:auto;
    }
}

@media screen and(min-width:1px){
    p,h1{
        width:90vw;
    }
}


body{
width:100vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(lapcastle.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-position:fixed;
background-size:cover;
background-position:center top;
overflow-x:hidden;
}

.shown{
width:100vw;
height:100vh;
position:absolute;
background-color:#eee;
z-index:1000;
}

.hidden{
opacity:0;
}

div img{
	width:10vw;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.selection{
	margin-top:10px;
	width:100vw;
}

@media screen and (min-width:400px){
	.selection{
		width:300px;
	}
}

.unselected, .selected{
	background-color:rgba(200,200,200,0.7);
	width:relative;
	padding:20px;
	font-family:'Lato', Arial;
	font-size:100%;
	transition:background-color 0.2s;
}

.unselected:hover{
	background-color:rgba(200,200,200,0.8);
}

.selected{
	background-color:#DDDDDD;
}

.buttonContainer{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.audioBtnText{
font-size:240%;
font-weight:300;
font-family:'Lato','Arial',sans;
padding-top:10px;
padding-bottom:10px;
padding-left:50px;
padding-right:50px;
}

.pause{
    left: 50%;
margin:auto;
text-align:center;
color:#fff;
border:none;
text-decoration:none;
border-radius:15px;
font-size:240%;
font-weight:300;
font-family:'Lato','Arial',sans;
padding-top:10px;
padding-bottom:10px;
padding-left:50px;
padding-right:50px;
background-color:#565DA3;
transition:color 0.2s, background-color 0.2s, margin-top 0.2s, box-shadow 0.2s;position: absolute;transform: translate(-50%,-50%);
}

.pause:hover{
color:#565DA3;
background-color:#F5F5F5;
}

.pause:focus, .play:focus, .audioBtnStop:focus{ 
    outline: none;
}

.pause:active{
}

.play{left: 50%;margin:auto;text-align:center;color:#fff;border:none;text-decoration:none;border-radius:15px;font-size:240%;font-weight:300;font-family:'Lato','Arial',sans;padding-top:10px;padding-bottom:10px;padding-left:50px;padding-right:50px;background-color:#82C491;transition:color 0.2s, background-color 0.2s, margin-top 0.2s, box-shadow 0.2s;position: absolute;transform: translate(-50%,-50%);}

.play:hover{
color:#82C491;
background-color:#F5F5F5;
}

.play:active{
}

.audioBtnStop{
position:absolute;
left:50%;
transform:translate(-50%,0%);
text-align:center;
color:#fff;
border:none;
text-decoration:none;
border-radius:15px;
font-size:200%;
font-weight:300;
font-family:'Lato','Arial',sans;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
background-color:#C73E3E;
transition:color 0.2s, background-color 0.2s, margin-top 0.2s, box-shadow 0.2s;
}

.audioBtnStop:hover{
color:#C73E3E;
background-color:#FFFFFF;
}

.audioBtnStop:active{
}

.progressBar{
	width:100vw;
	height:50px;
	background-color:rgba(200,200,200,0.5);
	position:relative;
	transition:background-color 0.2s;
}

.progressBar:hover{
	background-color:rgba(200,200,200,0.7);
}

.marker{
	height:50px;
	background-color:#D9D9D9;
	width:20px;
	position:absolute;
	transition:background-color 0.2s;
}

.marker:hover{
	background-color:#E6E6E6;
	cursor: pointer;
}

.marker:active{
	background-color:#FFFFFF;
}